---
---
<nav class="lg:hidden fixed bottom-0 left-0 right-0 bg-white dark:bg-gray-800 shadow-[0_-1px_5px_rgba(0,0,0,0.1)] flex justify-around">
    <a href="/" class="flex flex-col items-center justify-center w-full pt-2 pb-1 text-community-accent dark:text-hookups-accent">Home</a>
    <a href="#" class="flex flex-col items-center justify-center w-full pt-2 pb-1 text-gray-600 dark:text-gray-300 hover:text-community-accent dark:hover:text-hookups-accent">Search</a>
    <a href="/community/" class="flex flex-col items-center justify-center w-full pt-2 pb-1 text-gray-600 dark:text-gray-300 hover:text-community-accent dark:hover:text-hookups-accent">Events</a>
    <a href="/locations/" class="flex flex-col items-center justify-center w-full pt-2 pb-1 text-gray-600 dark:text-gray-300 hover:text-community-accent dark:hover:text-hookups-accent">Locations</a>
    <a href="/messaging/" class="flex flex-col items-center justify-center w-full pt-2 pb-1 text-gray-600 dark:text-gray-300 hover:text-community-accent dark:hover:text-hookups-accent">Messages</a>
    <a href="/profile/" class="flex flex-col items-center justify-center w-full pt-2 pb-1 text-gray-600 dark:text-gray-300 hover:text-community-accent dark:hover:text-hookups-accent">Profile</a>
</nav>
